@charset "UTF-8";


#fvcn_SubmissionsArchive .fvcn_PageLinks {
	text-align: right;
	font-size: .9em;
}

#fvcn_SubmissionsArchive .fvcn_PageLinks .displaying-num {
	color: #999;
	font-style: italic;
	margin-right: 1em;
	
}

#fvcn_SubmissionsArchive .fvcn_PageLinks .page-numbers {
	
}

#fvcn_SubmissionsArchive .fvcn_PageLinks .current {
	
}

#fvcn_SubmissionsArchive #fvcn-submissions-list h4 {
	margin-bottom: 0;
}
