@media screen 
and (min-device-width : 320px) 
and (max-device-width : 900px), only screen and (max-width: 900px) {
        #top {display: none;}
        #featured-interviews {display: none;}
        #sidebar, .post-thumb, #latest_news, .split, .post-date, #cat-menu {display: none;}
        #column1 {width: 100%;}
        #wdsb-share-box, .email-subscribe {display: none !important;}
        .firstpostdiv{border-bottom: 1px solid #dfdfdf;}
        .nav li {float: none;}
        #cat-nav.nav>li {width: 100%;}
        .nav li a.sf-with-ul {background: none;}
        #wrapper {width: 90%;}
        #wpadminbar {display: none;}
        #toggle-navigation {
                display: block;
                width: 100%;
                text-align: center;
                background: #ddd;
		border-radius: 5px;
		line-height: 25px;
		height: 25px;
        }
	.entry img{
		max-width: 100% !important;
		height: auto;
	}
	img{
		max-width: 100%;
		height: auto;
	}
	/* This show's sherpas responsive (no class or id provided, so make do with sibling and attribute selectors*/
	h2[style$="20px;"][style*="thin dotted"] + table,h2[style$="20px;"][style*="thin dotted"] + table>tbody,h2[style$="20px;"][style*="thin dotted"] + table>tbody>tr
	{
		display: block;
		max-width: 100%;
	}
	h2[style$="20px;"][style*="thin dotted"] + table>tbody>tr div.wp-caption{
		max-width: 100%;
		width: 100% !important;
	}
	h2[style$="20px;"][style*="thin dotted"] + table>tbody>tr div.wp-caption>img{
		height: auto;
	}
	/* This show's sherpas end */
	#mobile-nav ul.mobile-nav{
		
		
		background: -webkit-linear-gradient(#ffffff, #f5f5f5);
		border-radius: 5px;
		margin-top: 2px;
		width: 100%;
		padding: 5px 0px;
		border: 1px solid #ddd;
		
		
	}
	
	#mobile-nav ul li{
		line-height: 25px;
		padding-left: 15px;
	}
	#mobile-nav ul li:hover{
		background: transparent;
	}
	#mobile-nav ul li:hover a{
		color: #26b;
	}
	#mobile-nav ul li a:hover{
		color: #26b;
		text-decoration: underline;
	}
	#mobile-nav ul li a{
		text-decoration: none;
		font-size: 15px;
		display: inline-block;
		width: 100%;
	}	
	.mobile-nav li.menu-item{
		border-right: none;
	}
        div.pagination{
                width: 95%;
        }
        #content{
                width: 99%;
        }
        #crp_related{
                display: none;
        }
        .menu-item:hover a, .menu-item:hover a:hover{
                color: white;
        }
	#fblikebox{
		display: none;
	}
	div[style*="scrollbar-arrow-color"][style*="overflow-y: scroll;"]{
		width: 100% !important;
	}
	.mobilehide
	{
		display: none !important;
	}
} 


